.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: max(2vw,1.2rem);
  margin-top: 1rem;
}
.image_wrapper{
  padding: 1rem;
}
.blogs{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  padding: 1em;
}

.blogpost{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.blogpost h3{
  font-size: max(1.5vw,1.1rem);
}

.mainnav{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  box-shadow: 0 0 6px 1px black;
}

.mainnav>ul{
  list-style: none;
}

.nav_item{
  margin: 0 2rem;
  font-size: max(1.1vw,1rem);
  font-weight: bold;
  cursor: pointer;
}